:root {
  /* Brand colors (user controlled) */
  --accent-color: #ffa500;
  --main-color: #5f371c;

  /* Theme colors */
  --bg-color: #f9f9f9;
  --content-bg: #ececec;
  --card-bg: #ededed;
  --text-color: #000000;
}

/* Dark mode overrides */
[data-theme="dark"] {
  --bg-color: #343434;
  --content-bg: #3e3e3e;
  --card-bg: #434343;
  --text-color: #ffffff;
}